body {
    overflow-x: hidden;
    font-family: Roboto;
}

.navbar {
    background-color: #0a3957;
    border-radius: 0;
    height: 80px;
}

.navbar-brand img {
    height: 40px;
    width: 250px;
}

span {
    color: white;
    position: absolute;
    right: 190px;
    top: 12px;
}

.pull-right {
    color: white;
}

.pull-right h5 {
    position: relative;
    top: 9px;
    font-size: 15px !important;
}

.left {
    position: absolute;
    left: 0;
    top: 80px;
    border-right: 2px solid whitesmoke;
    height: 171vh;
    width: 150px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.07), 0 0 10px rgba(0, 0, 0, 0.05);
}

@media screen and (max-width: 500px) {
    .left {
        height: 160vh;
    }
}

@media screen and (max-height: 446px) {
    .left {
        height: 250vh;
    }
}

.main {
    position: absolute;
    left: 150px;
    top: 80px;
    right: 0;
    bottom: 0;
}

.service i {
    color: #42B02B;
}

#services .container {
    padding: 10% 8% 10% 10%;
}

@media screen and (max-width: 600px) {
    #services .container {
        padding: 5%;
    }
}

@media screen and (max-width: 700px) {
    #services {
        margin-bottom: 60px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    #services .container {
        padding: 2%;
    }
}

@media screen and (min-width: 1900px) and (max-width: 2500px) {
    #services .container {
        padding: 5% 0;
    }
}

#services .service-container {
    padding: 0;
    text-align: center;
    margin-top: 15px;
}

#services .service-container li {
    list-style-type: none;
}

#services .service {
    /*display: -webkit-flex;*/
    /* display: -moz-flex; */
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    padding: 20px;
}

form img {
    height: 48px;
    width: 50px;
}

input[type=text] {
    position: absolute;
    width: 30%;
    box-sizing: border-box;
    border-right: 0;
    border-bottom: 0;
    font-size: 16px;
    border-top: 0;
    border-left: 0;
    background-color: white;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    outline: none;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.form-control {
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 2px;
}

.search {
    padding: 15px;
    border-bottom: 2px solid lightgray;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.07), 0 0 15px rgba(0, 0, 0, 0.05);
}

@media screen and (max-width: 356px) and (max-height: 633px) {
    .main .container-fluid {
        width: 300px;
    }
}

.search select {
    width: 15%;
    position: relative;
    right: 300px;
    top: 5px;
    color: black;
}

.btn-success {
    position: relative;
    right: -150px;
    width: 20%;
    top: 5px;
    outline: none;
    border-radius: 2px;
}

.table-responsive {
    background: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.07), 0 0 15px rgba(0, 0, 0, 0.05);
    margin: 0 0 20px;
    border-radius: 4px;
}

thead {
    background: #42A8A8;
}

td a {
    color: lightseagreen;
    text-decoration: none !important;
}

.main .container-fluid {
    background: #DFDFDF;
}

.table>thead>tr>th {
    border-bottom: none;
}

.table>thead>tr>th>.input {
    border: none;
    background: #42A8A8;
    outline: none;
    border-bottom: 1px solid transparent;
    width: 85px;
}

.table>thead>tr>th>.input>value {
    color: black !important;
}